::-webkit-scrollbar-thumb {
    background: #3A0B25; 
    border-radius: 12px;
    position: relative;
    border: 2px solid #FAC08A;
  }
    
  ::-webkit-scrollbar-thumb:hover {
    background: #61223a; 
  }
    
  ::-webkit-scrollbar {
      width: 17px;
  }
    
  ::-webkit-scrollbar-track {
      border-left: 1px solid #FAC08A;
      background: #FFE0BC; 
  }

  .sidePanel::-webkit-scrollbar-thumb {
    background: #3A0B25; 
    border-radius: 12px;
    position: relative;
    border: 5px solid #FAC08A;
  }

  .sidePanel::-webkit-scrollbar-track{
    display: none;
  }

  .GameMenu::-webkit-scrollbar-track{
    display: none;
  }

  #renderSidePanel::-webkit-scrollbar-track{
    display: none;
  }