/* Make a ColorTheme */
:root{
  --darker_text_color: #00003a;
  --brighter_text_color: #ffffff;
  --first_background_color: #42513b;
  --second_background_color: #cce5cd;
  --theme-color: rgb(108, 191, 133);
  --footer_color: #0d2f2a;
  --main_color: #056731;
  --accent_color: #15b781;
  --error_color: #db371a;
}

html{
  scroll-behavior: smooth;
}

body,html{
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  font-family: OpenSans;
  font-weight: 400;
  margin:0px;
  padding:0px;
  color:var(--darker_text_color);
  background: var(--first_background_color);
}

header{
  background: var(--second_background_color);
  padding: 36px 24px;
}

section{
  padding: 0px 0px;
}

footer{
  background: var(--footer_color);
  color:var(--brighter_text_color);
  padding: 12px 24px;
  flex-grow: 1;
}

h1{
  padding-top: 32px;
  padding-bottom: 10px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  color:var(--main_color);
}

h2{
  padding-top: 32px;
  padding-bottom: 10px;
  color:var(--accent_color);
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h3{
  padding-top: 16px;
  padding-bottom: 10px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h4{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h5{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h6{
  padding-top: 10px;
  padding-bottom: 10px;
  color:var(--error_color);
  margin-block-start: 0px;
  margin-block-end: 0px;
}

p{
  margin-block-start: 0px;
  margin-block-end: 0px;
}

#canvas{

}

.main_wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content_wrapper{
  top: calc(50% - 360px);
  position: absolute;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.mainSection{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}


.button{
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 17px;
  min-height: 56px;
  cursor: pointer;
  max-width: 200px;
  min-width: 200px;
  font-weight: 100;
  text-align: center;
  background-image: url("../img/button.png");
  background-repeat: no-repeat;
  padding: 6px 32px;
  color: #ffffff;
}

.button:hover{
  color: #ffffff;
}

.button:hover::before{
  content: "";
  position: absolute;
  background-image: url("../img/klammer-left.png");
  background-repeat: no-repeat;
  width: 15px;
  left: 6px;
  top:3px;
  height: 100%;
  text-decoration: none;
  color: #a63676;
}

.button:hover::after{
  content: "";
  position: absolute;
  background-image: url("../img/kammer-right.png");
  background-repeat: no-repeat;
  width: 15px;
  right: 8px;
  top:3px;
  height: 100%;
  text-decoration: none;
  color: #a63676;
}

.background{
  position: absolute;
  top: 0px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #1B1112;
}

.background img{
  width: 100%;
  max-width: 3440px;
  justify-content: center;
  align-items: center;
}

.toCenterBox{
  width: 100%;
  height: 100%;
  max-height: 1240px;
  max-height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.canvasOverlay{
 
}

.blackscreen{
  width: 100%;
  height: 100%;
  background-color: rgba(23, 7, 2, 0.65);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
#canvasOverlay{
  position: absolute;
  width: 1240px;
  height: 720px;
}

#canvasOverlay{
  position: absolute;
  width: 1240px;
  height: 720px;
}

#canvasOverlayContent{
  max-width: 1240px;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  font-family: PixelifySans;
  user-select: none;
  color: #ffffff;

  font-size: 45px;
  letter-spacing: 2px;
  position: absolute;
  width: 1240;
  height: 720;

}

.GameMenu {
  top:0px;
  position: relative;
  width: 100%;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  color: #DEA67E;
}

.GameMenu nav {
  position: absolute;
  top: -160px;
  left: 240px;
}

.GameMenu h1 {
  font-size: 42px;
  position: absolute;
  bottom: 160px;
  left: 255px;
  line-height: 40px;
  font-weight: 600;
  color: #DEA67E;
}

.infoContainer{
  -webkit-text-stroke-width: 0px;
  max-width: 200px;
  font-size: 18px;
  color: #fff;
  filter:drop-shadow(1px 1px 0px #997342);
  text-align: left;
}

.controllPanel h2{
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  color: #DEA67E;
  filter:drop-shadow(1px 1px 0px #794a0d);
}
.sidePanel{
  top: 100px;
  right: 153px;
  position: absolute;
  width: 100%;
  max-width: 450px;
  height: 100%;
  max-height: 440px;
  overflow: hidden;
  overflow-y: scroll;
  font-size: 18px;
  font-weight: 100;
}
.sidePanel a{
  color: #db371a;
}


.sidePanel strong{
  color: rgb(228, 133, 73);
  filter:drop-shadow(1px 1px 0px #883b17);
  margin-bottom: 32px;
}
.alightText {
  text-align: left;
  padding: 0px 0px 0px 0px;
  right: 183px;
  max-width: 400px;
}

.sidePanel h1{
  font-size: 36px;
  color: #DEA67E;
  filter:drop-shadow(1px 1px 0px #794a0d);
}

.controllPanel{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-height: 380px;
}

.panelOne{
  display: flex;
  padding-top: 24px;
  padding-left: 11px;
  align-items: center;
  width: 100%;
  max-width: 410px;
  display: flex;
  gap: 27px;
}

.panelOne span, .panelTwo span{
  color: rgb(228, 133, 73);
  filter:drop-shadow(1px 1px 0px #794a0d);
}

.panelOne .woman{
  color: rgb(226, 42, 186);
  filter:drop-shadow(1px 1px 0px #530d79);
}

.impressum{
  filter:drop-shadow(1px 1px 0px #927045);
}

.panelTwo{
  display: flex;
  padding-top: 24px;
  padding-left: 11px;
  align-items: center;
  width: 100%;
  max-width: 430px;
  display: flex;
  gap: 27px;
}

.imageContainer{
  width: 180px;
  height: auto;
}

.imageContainer img{
  width: 100%;
  height: auto;
}


.canvasOverlayContent{
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.flickContent{
  animation-duration: 1.5s;
  animation-name: fadeInOut;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.gameReady{
  top: 390px;
  left: 200px;
  position: absolute;
  width: 390px;
  color: #ffffff;
  filter:drop-shadow(1px 1px 0px #997342);
  font-size: 36px;
}

.gameReady img{
  position: absolute;
  top: -170px;
  left: 90px;
  height: 130px;
  width: auto;
  object-fit: contain;
  object-position: center;
}


.menu-container{
  position: absolute;
  top: 0px;
  right: 72px;
  width: 76px;
  height: 163px;
  
}

.banner-red{
  position: relative;
  right: 0px;
  width: 76px;
  height: 163px;
  user-select: none;
}

.iconContainer{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10px;
  display: flex;
  gap: 26px;
  left: 26px;
  flex-direction: column;
}

.icons-container{
  position: absolute;
  right: 48px;
  top: 30px;
  display: flex;
  flex-direction: row-reverse;
  gap: 36px;
}

.icon img{
  height: 46px;
  width: auto;
}

.icon img:hover{
  transform: scale(1.1);
}

.subMenu{
  flex-direction: row-reverse;
  display: flex;
  gap: 12px;
}

.plusIcon{
  display: flex;
  justify-content: center;
  width: 18px;
  height: 19px;

}

.volumneIcon{
  display: flex;
  justify-content: center;
  width: 25px;
  height: 26px;

}

.minusIcon{
  display: flex;
  justify-content: center;
  width: 19px;
  height: 4px;

}

.opacity{
  opacity: 0.2;
}

.quickTipMenu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: #ffffff;
  filter:drop-shadow(1px 1px 0px #794a0d);
  font-size: 21px;
  height: 60%;
  width: 32%;
  overflow: hidden;
  position: absolute;
  right: 188px;
  top: 100px;
  border-radius: 12px;
}

.quickTipMenu h2{
  margin-top: 18px;
  margin-bottom: -4px;
  font-size: 32px;
  color: #db371a;
}

.tipPicture{
  height: 255px;
  width: 95%;
  object-fit: contain;
}

.tipPicture img {
  border-radius: 12px;
  width: 100%;
  object-fit: cover;
}

.hover{
  user-select: none;
}

.hover:hover {
  cursor: pointer;
}

.currentScore{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.gameWon {
  user-select: none;
  margin-top: 16px;
  width: 100%;
  height: 180x;
}

.gameWon img{
  user-select: none;
  top: 120px;
  height: auto;
  width: 230px;
  object-fit: contain;
  object-position: center;
}

.score{
  color: #fff;
  filter:drop-shadow(1px 1px 1px #794a0d);
  font-size: 28px;
  margin-top: 16px;
}


.intoText{
  padding: 8px 48px 16px 48px;
  font-size: 18px;
  color: #fff;
  filter:drop-shadow(1px 1px 0px #794a0d);
}

.scoreImage{
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  height: auto;
  width: 230px;
}

.scoreList{
  padding-inline-start: 0px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  list-style: none;
  font-size: 20px;
  color: #fff;
}

.scoreList li{
  margin-top: 8px;
  color: #ffffff;
  filter:drop-shadow(1px 1px 0px #794a0d);
  margin-bottom: 8px;
}

.scoreList :nth-child(1){
  color: #e58d0a;
  filter:drop-shadow(-1px -1px 0px #ffeab4);
}

.scoreList :nth-child(2){
  color: #80929e;
  filter:drop-shadow(-1px -1px 0px #d0ebff);
}

.scoreList :nth-child(3){
  color: #bd592a;
  filter:drop-shadow(-1px -1px 0px #ffe5b1);
}

.enterNameInput{
  align-items: center;
  margin-top: 16px;
  justify-content: center;
  gap: 15px;
  display: flex;
}

.enterNameInput input {
  background-color: #DEA67E;
  border: 1px solid white;
  height: 32px;
  padding: 0px 8px 0px 8px;
  color: #fff;
  font-family: PixelifySans;
  font-size: 18px;
  border-radius: 6px;
  font-weight: lighter;
}

.enterNameInput input::placeholder{
  color: #fff;
  font-family: PixelifySans;
  font-size: 18px;
  font-weight: lighter;
}

.enterNameInput input:active{
  outline: 1px solid rgb(255, 255, 255);
}

.enterNameInput input:focus{
  outline: 1px solid rgb(255, 255, 255);
}

.scoreSaveButton{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a33820;
  padding: 4px;
  height: 30px;
  width: 30px;
  border-radius: 8px;
  border: 1px solid rgb(220, 142, 127);
  object-fit: contain;
}

.scoreSaveButton:hover{
  background-color: #dd9248;
  cursor: pointer;
  outline: 2px solid rgb(255, 255, 255);
}

.scoreSaveButton img{
  user-select: none;
  width: 100%;
  height: auto;
}

.HighscorePanel{
  color: #fff;
  filter:drop-shadow(1px 1px 0px #794a0d);
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.disableNewHighscore {
  display: none;
}

.noHighscore{
  color: #fff;
  filter:drop-shadow(1px 1px 0px #794a0d);
}

@keyframes fadeInOut{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
